body{
    /* Adds padding to the top of the body to keep navbar from covering things */

    background-color:#ffffff; 

    font-size: 16px;
    color: var(--text-color);
    font-family: Tahoma, sans-serif; 
    padding-bottom: 50px;
    padding-top: 20px;
    margin: 0;
    min-height: 200vh;
    background-color: inherit; 
}

h1{
    background-color: #ffffff;
    text-align: center;
}

h2 {
    color: #072162;

}
img{
    width: 350px;
}

h3 {
    color: #000000;
    
}

h4 {
    color: #12427e;  
    
}

p {
    color: #000000;
    text-align:left;
    font-size: medium;
    
}

a,
a * {
    font-family:monospace;
    
}
.header-container {
    display: block;                 
    justify-content: space-between; 
    align-items: center;           
    background-color: #b9945b;     
    padding: 20px;
    margin-bottom: 30px;
    border-bottom: 2px solid #ddd;
    flex-direction:column;
 
}
.header-item:nth-of-type(1) {
    text-align: left;  
    width: 60%;        
    padding: 20px;     
}
.header-item:nth-of-type(2) {
    width: 40%;         
    padding: 10px;
}
.header-img img {
    display: block;        
    margin: 20 auto;         
    width: 100px;           
    height: auto;           
    margin-bottom: 15 px;    
}
.header-button {
    display: flex;         
    gap: 10px;            
}

.header-button button {
    background-color: rgb(233, 189, 67);    
    color: rgb(255, 255, 255);               
    border: none;               
    padding: 5px 12px;          
    border-radius: 5px;         
    cursor: pointer;
}

ul {
    list-style: square inside;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f6e2b7;
  }
a {
    color: #f43fae;      
    font-weight: bold;     
}

a:link {
    color: #0078FF;      
}

a:visited {
    color: #0a0909;        
}

a:hover {
    color: #eb810f;      
    text-decoration: underline; 
}

a:active {
    color: #57ef20;        
}


:root {
    /* Light Mode */
    --bg-color: #a6a0cf;
    --text-color: #231942;

    /* Dark Mode */
    --bg-color-dark-mode: #3e3377;
    --text-color-dark-mode: #fff;

    /* Accent Colors */
    --accent-color-light: #d2cff5;
    --accent-color-medium: #684fb5;
    --accent-color-dark: #482f95;
    --accent-color-darkest: #231942;
    --accent-color-green: #28eb76;

    /* Error Colors */
    --error-color: #f8bbd0;
    --error-color-border: #e63946;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-padding-top: 60px; 
}
.navbar ul {
    z-index: 1000; 
    list-style-type: none;
    overflow: hidden;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100% ;
    margin-bottom: 20px ;
    background-color: #f0cc83;
    
}

.navbar ul li {
    float: left;
    margin: 10px;
}

.navbar ul li a {
    display: block;
    text-decoration: none;
    color: #fbfbfb;
    text-align: center;
    padding: 03px ;
    
    
}

.navbar ul li a:hover {
    color: rgb(127, 127, 240);
}

.dark-mode {
    background-color: #000000;
    color: #ffffff;

}

.dark-mode .header-item h1 {
    background-color: #000000; 
    color: white;               
    display: inline-block;      
}

.dark-mode h1, 
.dark-mode h2,
.dark-mode h3,
.dark-mode h4,
.dark-mode p {
    color: #ffffff;
}


.dark-mode a:visited {
    color: #b39ddb;
}

#theme-button {
    background-color: #000000;
    color: white;
    border: none;
    padding: 3px 5px;
    cursor: pointer;
}

#rsvp h2 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
}
.rsvp-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    padding-bottom: 50px;
}
.rsvp-para{
    width: 55%;
    padding-right: 10px;
    text-align: center;

}
.rsvp-participants{
    width: 45%;
    padding-right: 10px;
}

#rsvp-button {
    color: #000000;
    background-color: #f0cc83;
    border-radius: 15%;
    width: 90px;
    height: 40px;
}
.error {
    border-style: solid;
    border-width: 2px;
    border-color: #0078FF;
    background-color: #e63946;
  
  }

  
  .modal {
    display: none;   /* modal should be hidden by default*/
    position: fixed; /* modal cannot move around the screen */
    z-index: 2;      /* modal appears above other elements */ 
    
    /* TODO: Make the modal fill the entire screen */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  
    /* Add a semi-transparent background to shadow non-modal elements*/
    background-color: rgba(0,0,0,0.4);  
    /* Flexbox settings for modal */
    /* These won't apply until we update "display:" from "hidden" to "flex" in our JS */
    flex-direction: column; 
    align-items: center;
    justify-content: center;
  }
  
  .modal-container {
      /* Change modal size and spacing here */
      padding: 50px;
      width: 55%;
  
      /* Customize modal style here */
      background-color: rgb(255, 255, 255);
      color: black;
      text-align: center;
      font-size: 1rem;
      font-family: monospace;
  
      /* Optional: Use flexbox to customize .modal-item layout */
      display: flex;
  
  }
  
  .modal-item {
      /* Optional: Style individual elements within the modal */
  }
  
