body{
    /* Adds padding to the top of the body to keep navbar from covering things */

    background-color:#ffffff; 

    font-size: 16px;
    color: var(--text-color);
    font-family: Tahoma, sans-serif; 
    margin: 50px;
}

h1{
    background-color: #ffffff;
    text-align: center;
}

h2 {
    color: #072162;

}
img{
    width: 350px;
}

h3 {
    color: #000000;
    
}

h4 {
    color: #12427e;  
    
}

p {
    color: #000000;
    text-align:left;
    font-size: medium;
    
}

a,
a * {
    font-family:monospace;
    
}
.header-container {
    display: block;                 
    justify-content: space-between; 
    align-items: center;           
    background-color: #b9945b;     
    padding: 20px;
    margin-bottom: 30px;
    border-bottom: 2px solid #ddd;
    flex-direction:column;
 
}
.header-item:nth-of-type(1) {
    text-align: left;  
    width: 60%;        
    padding: 20px;     
}
.header-item:nth-of-type(2) {
    width: 40%;         
    padding: 10px;
}
.header-img img {
    display: block;        
    margin: 20 auto;         
    width: 100px;           
    height: auto;           
    margin-bottom: 15 px;    
}
.header-button {
    display: flex;         
    gap: 10px;            
}

.header-button button {
    background-color: rgb(233, 189, 67);    
    color: rgb(255, 255, 255);               
    border: none;               
    padding: 5px 12px;          
    border-radius: 5px;         
    cursor: pointer;
}

ul {
    list-style: square inside;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f6e2b7;
  }
a {
    color: #f43fae;      
    font-weight: bold;     
}

a:link {
    color: #0078FF;      
}

a:visited {
    color: #0a0909;        
}

a:hover {
    color: #eb810f;      
    text-decoration: underline; 
}

a:active {
    color: #57ef20;        
}


:root {
    /* Light Mode */
    --bg-color: #a6a0cf;
    --text-color: #231942;

    /* Dark Mode */
    --bg-color-dark-mode: #3e3377;
    --text-color-dark-mode: #fff;

    /* Accent Colors */
    --accent-color-light: #d2cff5;
    --accent-color-medium: #684fb5;
    --accent-color-dark: #482f95;
    --accent-color-darkest: #231942;
    --accent-color-green: #28eb76;

    /* Error Colors */
    --error-color: #f8bbd0;
    --error-color-border: #e63946;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-padding-top: 60px; /* Adjust this value to match the height of your navbar */
}
.navbar ul {
    z-index: 1000; /* Ensures the navbar is on top of other elements */
    list-style-type: none;
    overflow: hidden;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100% ;
    margin-bottom: 20px ;
    background-color: #f0cc83;
    
}

.navbar ul li {
    float: left;
    margin: 10px;
}

.navbar ul li a {
    display: block;
    text-decoration: none;
    color: #fbfbfb;
    text-align: center;
    padding: 03px ;
    
    
}

.navbar ul li a:hover {
    color: rgb(127, 127, 240);
}
